<form method="post" action="{{ path('adherant_delete', {'id': adherant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adherant.id) }}">
    <button class="btn btn-danger btn-default">Delete</button>
</form>
