{% extends 'base.html.twig' %}

{% block title %}Soin Clair - Nos Services{% endblock %}


{% block content %}{% endblock %}
{% block body %}
<div class="border-bottom wrapper">
    <main>
        <article class="p-2 " style="background-color: #00a6cc !important;">
            <div class="container">

                <div class="section">
                    <div class="row">
                        <div class="text-center col-lg-12 mx-auto col-md-12 col-sm-12 col-xs-12">
                            <h3 style="font-size: 160px; font-family:'Teko';font-weight:normal;color:#ffffff;margin-top:10px;">Nos Services</h3>
                        </div>
                    </div>
                </div>
                <section>
                    <div class="_services row">
                        <div class="_grid_columns col-lg-4 col-md-4 col-xs-12 col-sm-9">
                            <div class="_grid_header"><h4>Optimiser mes déponses de santé</h4></div>
                            <div class="_grid_body">
                                Accédez à un large réseau de professionnels de santé recommandés et au juste prix.
                            </div>
                            <div class="_grid_icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <div class="_grid_footer">
                                <a>More</a>
                            </div>
                        </div>

                        <div class="_grid_columns col-lg-4 col-md-4 col-xs-12 col-sm-9">
                            <div class="_grid_header"><h4>Analyser mon devis</h4></div>
                            <div class="_grid_body">Pensez à faire analyser votre devis par des professionnels</div>
                            <div class="_grid_icon">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="_grid_footer">
                                <a>More</a>
                            </div>
                        </div>

                        <div class="_grid_columns col-lg-4 col-md-4 col-xs-12 col-sm-9">
                            <div class="_grid_header"><h4>Mieux Comprendre mon Assurance Maladie</h4></div>
                            <div class="_grid_body">
                                N’ayez plus de mauvaises surprises lors de vos remboursements.
                            </div>
                            <div class="_grid_icon">
                                <i class="far fa-lightbulb"></i>
                            </div>
                            <div class="_grid_footer">
                                <a>More</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>
    </main>
</div>



{% endblock %}